@import "~ant-design-vue/lib/style/themes/index.less";
.xm_tour_main {
  position: fixed;
  // padding: 12px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.07);
  z-index: 1002;


  .xm_tour_cover{
    margin-top: 12px;
    img {
      width: 100%;
      max-height: 200px;
    }
  }
  .xm_tour_content {
    position: relative;
    .xm_tour_arrow {
      position: absolute;
      z-index: 1;
      display: block;
      pointer-events: none;
      width: 16px;
      height: 16px;
      overflow: hidden;
      left: 50%;
      transform: translateX(-50%) translateY(-100%);
     
      
      &::after{
        content: '';
        position: absolute;
        bottom: 0;
        inset-inline-start: 0;
        width: 16px;
        height: 8px;
        background-color: #fff;
        clip-path: polygon(1.6568542494923806px 100%, 50% 1.6568542494923806px, 14.34314575050762px 100%, 1.6568542494923806px 100%);
      }
      &::before{
        content: "";
        position: absolute;
        width: 9px;
        height: 9px;
        bottom: 0;
        inset-inline: 0;
        margin: auto;
        border-radius: 0 0 2px 0;
        transform: translateY(50%) rotate(-135deg);
        box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1);
        z-index: 0;
        background: transparent;
      }

      &.below{
        bottom: 0;
        transform: rotate(180deg) translateX(-50%) translateY(-100%);
        &::before{
          transform: translateY(50%) rotate(45deg);  
        }
      }
    }
   

    .xm_tour_inner {
      padding: 12px;
      .anticon {
        position: absolute;
        top: 16px;
        inset-inline-end: 16px;
        color: rgba(0, 0, 0, 0.45);
        outline: none;
        width: 22px;
        height: 22px;
        cursor: pointer;
      }
      .ant-tour-header {
        .ant-tour-title {
          font-weight: bold;
        }
      }
    }

    .xm_tour_buttons{
       text-align: right;
    }
  }

  .xm_tour_footer{
    display: flex;
    align-items: center;
    // justify-content: center;
    .xm_tour_indicators{
      flex: 1;
      display: flex;
      .xm_tour_indicator{
        display: block;
        width: 6px;
        height: 6px;
        margin-right: 4px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.15);
        &.xm_tour_indicator_active{
          background-color: @primary-color;
        }
      }
    }
  }
}

.xm_tour_mask{
    position: fixed;
    inset: 0px;
    pointer-events: none;
}